<div class="space-y-2">
    <div class="flex flex-col justify-center items-center gap-2 h-[420px]">
        <h1 class="text-red-600 text-6xl font-bold">Oops...</h1>
        <p class="text-white text-base font-medium">Something went wrong</p>
        <a href="/" class="bg-white text-black font-medium rounded-md pt-0.5 pb-1 px-4">Go Home</a>
    </div>
</div>