<div class="flex justify-between items-center py-4 px-8">
    <a href="/" class="text-white text-3xl font-bold hover:text-violet-600">Munchy</a>
    <div class="flex items-center gap-4">
        <a href="/season/this/1" class="text-white text-base font-medium hover:underline">This Season</a>
        <a href="/search" class="bg-violet-600 text-white text-base font-medium rounded-md py-1 px-2 hover:scale-95">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
</div>